<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="_context_path" th:content="@{/}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ===== Iconscout CSS ===== -->
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

	<!-- ===== CSS ===== -->
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}">

	<!--<title>Login & Registration Form</title>-->
</head>

<body>

	<div class="container active">
		<div class="forms">

			 <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registration</span>

                <form autocomplete="off" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" th:field="*{userName}" class="form-control" required>
                        <i class="uil uil-user"></i>
                        <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="validation-message"></label>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" th:field="*{email}" class="form-control" required>
                        <i class="uil uil-envelope icon"></i>
                        <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                    <!--<div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>-->
                    <div class="input-field">
                        <input type="password" placeholder="Confirm a password" th:field="*{password}" class="form-control password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                        <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">I accepted all terms and conditions</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Signup">
                    </div>
                    
                    <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                </form>

                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="@{/login}" class="text login-link">Login Now</a>
                    </span>
                </div>
            </div>
            
		</div>
	</div>

	<script th:src="@{js/script.js}"></script>

</body>

</html>